@import '../utils/colors';

.disk {
  padding-top: 50px;

  &__btns {
    display: flex;
    & *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__upload {
    &--label {
      display: inline-block;
      font-size: 18px;
      padding: 5px;
      border: 2px dashed $fontColor;
      transition: .2s ease-in-out;
      transition-property: border, color;
      &:hover {
        cursor: pointer;
        border: 2px dashed darken($fontColor, 20%);
        color: darken($fontColor, 20%);
      }
    }
    &--input {
      display: none;
    }
  }
}