@import '../utils/colors';
@import '../utils/vars';

.disk {
  margin: {
    top: $headerH + 20px;
    bottom: 20px;
  };

  height: calc(100vh - #{$headerH} - 40px);

  &__btns {
    display: flex;
    & *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__upload {
    &--label {
      display: inline-block;
      font-size: 18px;
      padding: 5px;
      border: 2px dashed $fontColor;
      transition: .2s ease-in-out;
      transition-property: border, color;
      &:hover {
        cursor: pointer;
        border: 2px dashed darken($fontColor, 20%);
        color: darken($fontColor, 20%);
      }
    }
    &--input {
      display: none;
    }
  }
}

.drop-area {
  margin: {
    top: $headerH + 20px;
    bottom: 20px;
  };
  
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - #{$headerH} - 40px);

  border: 2px dashed $fontColor;

  font-size: 40px;
}