@import '../utils/colors';
@import '../utils/vars';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $headerH;
  }

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: $fontColor;
  }
  &__login {
    margin: {
      left: auto;
      right: 20px;
    }
  }
}