@import '../../../utils/colors';

.file {
  margin: 10px 0;
  border-bottom: 2px solid $fontColor;

  display: grid;
  grid-template-columns: 1fr 4fr repeat( 4, 1fr );

  align-items: center;

  transition: transform .2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  &__icon {
    justify-self: center;
  }

  &__date {
    grid-column-start: 5;
    justify-self: center;
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
}